<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Firma de correo electrònico de {{name}}</title>

    <style>
        .contact-info {
            margin-bottom: 10px;
        }
        .name-info {
            color: #000000; /* Text color */
        }
        .image {
            padding: 10px;
            text-align: center; /* To center text */
        }
        body {
            font-family: Calibri, sans-serif;
            font-size: 10pt;
            color: #500050; /* Text color */
        }
    </style>
</head>
<body>

<div id="image-table">
    <span class="name-info">
        {{name}}
    </span>
    <span class="contact-info">
        <br>
        Menaje & Mas
        <br>
        Equipaments Hosteleria Salou, S.L.
        <br>
        Telf: <a href="tel:{{internationalPhone}}">{{phone}}</a>
        <br>
        Correo: <a href="mailto:{{email}}">{{email}}</a>
    </span>

    <table>
        <tr>
            <td class="image">
                <img src="https://raw.githubusercontent.com/Equipaments-Hosteleria-Salou/simple-image-hosting/main/ehs_logo.jpg" alt="Equipaments Hostelería Salou logo"/>
                <br>
                <a href="http://www.ehsalou.com/">www.ehsalou.com</a>  <!-- Without http, the link does not work -->
            </td>
            <td class="image">
                <img src="https://raw.githubusercontent.com/Equipaments-Hosteleria-Salou/simple-image-hosting/main/menaje_logo.jpg" alt="Menaje y Más"/>
                <br>
                <a href="https://www.menajeymas.com/">www.menajeymas.com</a>
            </td>
        </tr>
    </table>
</div>

</body>
</html>
